:root {
  /* colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
  --primary-white-color: #ffffff;
  --first-additional-bg-color: #2f303a;
  --second-additional-bg-color: #f5f4fa;

  /* rgba(255, 255, 255, 0.6); footer e-mail & tel */

  /* fonts */
  --primary-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --primary-font-size: 14px;
  --logo-font-size: 26px;
  --hero-font-size: 44px;
  --button-font-size: 16px;
  --title-font-size: 36px;
  --team-cards-title-font-size: 16px;
  --portfolio-cards-title-font-size: 18px;
  --cards-text-font-size: 16px;

  --medium-font-weight: 500;
  --bold-font-weight: 700;
  --black-font-weight: 900;

  --narrow-letter-spacing: 0.02em;
  --primary-letter-spacing: 0.03em;
  --wide-letter-spacing: 0.06em;

  --normal-line-height: 1.2;
  /* 31/26=1,19; 16/14=1,14; 42/36=1,16; 19/16=1,18; */
  --large-line-height: 1.5;
  /* 60/44=1,36; 24/14=1.71; 26/16 */
  --greatest-line-height: 2;
  /* 30/16=1,9; 36/18=2*/

  --header-elements-margin-right: 50px;
  --other-elements-margin-right: 30px;
  --title-margin-bottom: 50px;
}

/* general settings */

body {
  font-family: var(--primary-font);
  line-height: var(--normal-line-height);
  letter-spacing: var(--primary-letter-spacing);
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.content {
  width: 1600px;
  margin: 0 auto;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.logo {
  font-family: var(--logo-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--logo-font-size);
  line-height: var(--normal-line-height);
  text-decoration: none;
  display: flex;
}

.logo span {
  color: var(--accent-color);
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--button-hover-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */
.header {
  padding: 24px 100px 25px 215px;
  display: flex;
  align-items: center;
}

.header-logo {
  color: var(--title-text-color);
  margin-right: 93px;
}

.header-menu {
  margin-right: 331px;
}

.header-list,
.header-contacts {
  display: flex;
}

.header-list-item,
.header-contacts-item {
  margin-right: var(--header-elements-margin-right);
}

.header-list-item:nth-last-child(-n + 1),
.header-contacts-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.header-menu-link,
.header-contacts-link {
  font-weight: var(--medium-font-weight);
  line-height: var(--normal-line-height);
  letter-spacing: var(--narrow-letter-spacing);
}

.header-menu-link {
  color: var(--title-text-color);
}

.header-contacts-link {
  color: var(--primary-text-color);
}

.section-title {
  text-align: center;
  margin: 0 0 var(--title-margin-bottom) 0;
  font-weight: var(--bold-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--normal-line-height);
  color: var(--title-text-color);
}

.current {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--first-additional-bg-color);
  padding: 200px 452px;
}

.hero-title {
  font-weight: var(--black-font-weight);
  font-size: var(--hero-font-size);
  line-height: var(--large-line-height);
  letter-spacing: var(--wide-letter-spacing);
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-white-color);
  margin-bottom: 30px;
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-family: var(--primary-font);
  font-weight: var(--bold-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--greatest-line-height);
  letter-spacing: var(--wide-letter-spacing);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* benefits */
.benefits {
  padding: 94px 215px;
}

/* .benefits-title {
  display: none;
} */

.benefits-list {
  display: flex;
  margin: 0;
}

.benefits-list-item {
  width: 270px;
  margin-right: var(--other-elements-margin-right);
}

.benefits-list-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.benefits-list-title {
  margin: 0 0 10px 0;
  font-weight: var(--bold-font-weight);
  font-size: var(--cards-title-font-size);
  line-height: var(--normal-line-height);
  letter-spacing: var(--wide-letter-spacing);
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits-list-text {
  font-size: var(--primary-font-size);
  line-height: var(--large-line-height);
  letter-spacing: var(--primary-letter-spacing);
  margin: 0;
}

/* our-busines */
.our-busines {
  padding: 0 215px 94px;
}

.our-busines-list {
  display: flex;
}

.our-busines-list-item {
  margin-right: var(--other-elements-margin-right);
}

.our-busines-list-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

/* our-team */
.our-team {
  padding: 94px 215px;
  background-color: var(--second-additional-bg-color);
}

.our-team-list {
  display: flex;
}

.our-team-list-item {
  width: 270px;
  margin-right: var(--other-elements-margin-right);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list-item:nth-last-child(-n + 1) {
  margin-right: 0;
}

.our-team-list-title {
  margin: 30px 0 10px 0;
  font-weight: var(--medium-font-weight);
  font-size: var(--cards-title-font-size);
  line-height: var(--normal-line-height);
  letter-spacing: var(--primary-letter-spacing);
  text-align: center;
  color: var(--title-text-color);
}

.our-team-list-text {
  line-height: var(--normal-line-height);
  letter-spacing: var(--primary-letter-spacing);
  text-align: center;
  margin-bottom: 30px;
}

/* footer */
.footer {
  padding: 60px 0 60px 215px;
  background-color: var(--first-additional-bg-color);
}

.footer-logo {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.addres {
  font-style: normal;
}

.address-item {
  margin-bottom: 9px;
}

.address-item:nth-last-child(-n + 1) {
  margin-bottom: 0;
}

.address-link {
  font-style: normal;
  font-size: var(--primary-font-size);
  line-height: var(--large-line-height);
  letter-spacing: var(--primary-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}

.white {
  color: var(--primary-white-color);
}

/* portfolio */
.portfolio {
  padding: 94px 100px 94px 215px;
}

.potfolio-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button-container {
  display: flex;
  margin-right: 8px;
}

.portfolio-button-container:nth-last-child(-n + 1) {
  margin-right: 0;
}

.portfolio-button {
  padding: 6px 22px;
  font-weight: var(--medium-font-weight);
  line-height: var(--large-line-height);
  letter-spacing: var(--primary-letter-spacing);
}

.portfolio-button:hover {
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-cards-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-card {
  width: 370px;
  margin: 0 30px 30px 0;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-card-title {
  font-weight: var(--bold-font-weight);
  font-size: var(--portfolio-cards-title-font-size);
  line-height: var(--greatest-line-height);
  letter-spacing: var(--wide-letter-spacing);
  color: var(--title-text-color);
  margin: 20px 0 4px 24px;
}

.portfolio-card-text {
  font-size: var(--cards-text-font-size);
  color: var(--primary-text-color);
  margin: 0 0 0 24px;
}
